<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel, لوحة الادارة!</title>

</head>
<body>

<div class="navbar navbar-dark bg-dark">
    <div class="col-11">
        <h5><p class="text-light bg-dark"
               th:text="${authUser.getName()} + ' with roles: ' + ${authUser.getStringRole()}">dddddd</p></h5>

    </div>
    <div class="col-1">
        <h5><a class="text-secondary  float-right" href="/logout">Logout</a></h5>
    </div>
</div>

<div class="container-fluid bg-light text-dark">
    <!--    <br>-->
    <div class="row bg-light text-dark"><!-- ПАНЕЛЬ СЛЕВА -->
        <div class="col-2 bg-white text-dark">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <br>
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>

        <div class="col-10 bg-light text-dark">
            <div class="p-3 mb-2 bg-light text-dark">
                <div class="container-fluid">


                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                             aria-labelledby="v-pills-home-tab"><!-- ПАНЕЛЬ Админа -->


                            <!-- ПАНЕЛЬ Админа -->
                            <h1>Admins page</h1>
                            <div class="p-3 mb-2 bg-light text-dark">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                           href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Users
                                            Table</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                           href="#nav-profile" role="tab" aria-controls="nav-profile"
                                           aria-selected="false">New User</a>
                                    </div>
                                </nav>
                            </div>

                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                     aria-labelledby="nav-home-tab">
                                    <!-- ПАНЕЛЬ всех Юзеров -->
                                    <div class="container">
                                        <!-- ПАНЕЛЬ всех Юзеров -->
                                        <h3>All users</h3>
                                        <div class="p-3 mb-2 bg-white text-dark">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="usersTable">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- ПАНЕЛЬ создания нового юзера -->
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                     aria-labelledby="nav-profile-tab"> <!-- ПАНЕЛЬ создания нового юзера -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                            </div>
                                            <div class="col text-center">
                                                <form class="text-center" th:method="POST" th:action="@{/admin}"
                                                      th:object="${user}">
                                                    <div class="form-group">
                                                        <div class="form-group col-md-4 text-center">
                                                            <label align="center" for="inputFirstname"><p
                                                                    class="font-weight-bold">First Name</p></label>
                                                            <input type="text" class="form-control" id="inputFirstname"
                                                                   placeholder="First Name" th:field="*{name}">
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <label for="inputLastname"><p class="font-weight-bold">Last
                                                                Name</p></label>
                                                            <input type="text" class="form-control" id="inputLastname"
                                                                   placeholder="Last Name" th:field="*{lastname}">
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <label for="inputAge"><p class="font-weight-bold">Age</p>
                                                            </label>
                                                            <input type="number" class="form-control" id="inputAge"
                                                                   placeholder="Age"
                                                                   th:field="*{age}">
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <label for="inputEmail"><p class="font-weight-bold">
                                                                Email</p></label>
                                                            <input type="text" class="form-control" id="inputEmail"
                                                                   placeholder="Email" th:field="*{email}">
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <label for="inputPassword"><p class="font-weight-bold">
                                                                Password</p></label>
                                                            <input type="text" class="form-control" id="inputPassword"
                                                                   placeholder="First Name" th:field="*{password}">
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <label for="inputRole"><p class="font-weight-bold">Role</p>
                                                            </label>
                                                            <select id="inputRole" class="form-control" multiple
                                                                    size="2" th:name="checkbox_roles">
                                                                <option th:each="role : ${roles}"
                                                                        th:value="${role.getId()}"
                                                                        th:utext="${role.getRole()}"/>
                                                            </select>
                                                        </div>
                                                        <div class="col-4">

                                                            <div class="text-center">
                                                                <input class="btn btn-success " type="submit"
                                                                       value="Create!">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- ПАНЕЛЬ Юзера -->
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab"> <!-- ПАНЕЛЬ Юзера -->
                            <h3>User information page</h3>
                            <br>
                            <div class="container">
                                <div class="col-12">
                                    <h5>About user</h5>
                                </div>
                                <div class="col-12">
                                    <div class="p-3 mb-2 bg-white text-dark">
                                        <table class="table table-hover" #table-striped>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                            <tr>
                                                <th scope="row" th:utext="${authUser.getId()}">ID</th>
                                                <td th:utext="${authUser.getName()}">Name</td>
                                                <td th:utext="${authUser.getLastname()}">Surname</td>
                                                <td th:utext="${authUser.getAge()}">Age</td>
                                                <td th:text="${authUser.getEmail()}">Value</td>
                                                <td th:text="${authUser.getStringRole()}">Value</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/main.js"></script>


</body>
</html>


<!--<tr th:each="user : ${users}">-->
<!--    <th scope="row" th:utext="${user.getId()}">ID</th>-->
<!--    <td th:utext="${user.getName()}">Name</td>-->
<!--    <td th:utext="${user.getSurname()}">Surname</td>-->
<!--    <td th:utext="${user.getAge()}">Age</td>-->
<!--    <td th:text="${user.getEmail()}">Value</td>-->
<!--    <td th:text="${user.getStringRole()}">Value</td>-->
<!--    <td>-->
<!--        &lt;!&ndash;                                                     Button Модальное окно исправления&ndash;&gt;-->
<!--        <form>-->
<!--            <input type="button" class="btn btn-primary"-->
<!--                   data-toggle="modal"-->
<!--                   th:attr="data-target=${'#e'+ user.id}"-->
<!--                   value="Update">-->
<!--        </form>-->
<!--    </td>-->

<!--    &lt;!&ndash;                                                     Модальное окно исправления&ndash;&gt;-->
<!--    <form th:method="PATCH"-->
<!--          th:action="@{/admin/{id}(id=${user.getId()})}"-->
<!--          th:object="${user}">-->
<!--        <div class="modal fade" th:attr="id=${'e'+ user.id}"-->
<!--             tabindex="-1" th:aria-labelledby="${user.getId()}"-->
<!--             aria-hidden="true">-->
<!--            <div class="modal-dialog ">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" th:id="${user.getId()}">-->
<!--                            Edit user</h5>-->
<!--                        <button type="button" class="close"-->
<!--                                data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <div class="row">-->
<!--                            <div class="col-3">-->
<!--                            </div>-->
<!--                            <div class="col-6">-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="id"-->
<!--                                           class="font-weight-bold">ID</label>-->
<!--                                    <input type="text"-->
<!--                                           class="form-control"-->
<!--                                           id="id" name="id"-->
<!--                                           th:value="${user.getId()}"-->
<!--                                           readonly/>-->
<!--                                </div>-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="name"-->
<!--                                           class="font-weight-bold">Name</label>-->
<!--                                    <input type="text"-->
<!--                                           class="form-control"-->
<!--                                           id="name" name="name"-->
<!--                                           th:value="${user.getName()}"/>-->
<!--                                </div>-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="lastname"-->
<!--                                           class="font-weight-bold">Lastname</label>-->
<!--                                    <input type="text"-->
<!--                                           class="form-control"-->
<!--                                           id="lastname" name="surname"-->
<!--                                           th:value="${user.getSurname()}"/>-->
<!--                                </div>-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="age"-->
<!--                                           class="font-weight-bold">Age</label>-->
<!--                                    <input type="num'"-->
<!--                                           class="form-control"-->
<!--                                           id="age" name="age"-->
<!--                                           th:value="${user.getAge()}"/>-->
<!--                                </div>-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="email"-->
<!--                                           class="font-weight-bold">Email</label>-->
<!--                                    <input type="text"-->
<!--                                           class="form-control"-->
<!--                                           id="email" name="email"-->
<!--                                           th:value="${user.getEmail()}"/>-->
<!--                                </div>-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="password"-->
<!--                                           class="font-weight-bold">Password</label>-->
<!--                                    <input type="text"-->
<!--                                           class="form-control"-->
<!--                                           id="password" name="password"-->
<!--                                           th:value="${user.getPassword()}"/>-->
<!--                                </div>-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="role"><p-->
<!--                                            class="font-weight-bold">-->
<!--                                        Role</p>-->
<!--                                    </label>-->
<!--                                    <select id="role" name="role"-->
<!--                                            class="form-control"-->
<!--                                            multiple-->
<!--                                            size="2"-->
<!--                                            th:name="checkbox_roles">-->
<!--                                        <option th:each="role : ${roles}"-->
<!--                                                th:value="${role.getId()}"-->
<!--                                                th:utext="${role.getRole()}"/>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button"-->
<!--                                    class="btn btn-secondary"-->
<!--                                    data-dismiss="modal">Close-->
<!--                            </button>-->
<!--                            <input type="submit" class="btn btn-primary"-->
<!--                                   value="edit"/>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->

<!--    &lt;!&ndash;                                                     Button Модальное окно удаления&ndash;&gt;-->
<!--    <td>-->
<!--        <form>-->
<!--            <input type="button" class="btn btn-danger"-->
<!--                   data-toggle="modal"-->
<!--                   th:attr="data-target=${'#edel'+ user.id}"-->
<!--                   value="Delete">-->
<!--        </form>-->
<!--    </td>-->
<!--    &lt;!&ndash;                                                     Модальное окно удаления&ndash;&gt;-->
<!--    <form th:method="DELETE"-->
<!--          th:action="@{/admin/{id}(id=${user.getId()})}">-->
<!--        <div class="modal fade bd-example-modal-sm"-->
<!--             th:attr="id=${'edel'+ user.id}"-->
<!--             tabindex="-1" th:aria-labelledby="${user.getName()}"-->
<!--             aria-hidden="true">-->
<!--            <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title"-->
<!--                            th:id="${user.getName()}">Update</h5>-->
<!--                        <button type="button" class="close"-->
<!--                                data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <div class="row">-->
<!--                            <div class="col-3">-->
<!--                            </div>-->
<!--                            <div class="col-6">-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="idDel"-->
<!--                                           class="font-weight-bold">ID</label>-->
<!--                                    <input type="text"-->
<!--                                           class="form-control"-->
<!--                                           id="idDel" name="id"-->
<!--                                           th:value="${user.getId()}"-->
<!--                                           readonly/>-->
<!--                                </div>-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="nameDel"-->
<!--                                           class="font-weight-bold">Name</label>-->
<!--                                    <input type="text"-->
<!--                                           class="form-control"-->
<!--                                           id="nameDel" name="name"-->
<!--                                           th:value="${user.getName()}"-->
<!--                                           readonly/>-->
<!--                                </div>-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="lastnameDel"-->
<!--                                           class="font-weight-bold">Lastname</label>-->
<!--                                    <input type="text"-->
<!--                                           class="form-control"-->
<!--                                           id="lastnameDel"-->
<!--                                           name="surname"-->
<!--                                           th:value="${user.getSurname()}"-->
<!--                                           readonly/>-->
<!--                                </div>-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="ageDel"-->
<!--                                           class="font-weight-bold">Age</label>-->
<!--                                    <input type="num'"-->
<!--                                           class="form-control"-->
<!--                                           id="ageDel" name="age"-->
<!--                                           th:value="${user.getAge()}"-->
<!--                                           readonly/>-->
<!--                                </div>-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="emailDel"-->
<!--                                           class="font-weight-bold">Email</label>-->
<!--                                    <input type="text"-->
<!--                                           class="form-control"-->
<!--                                           id="emailDel" name="email"-->
<!--                                           th:value="${user.getEmail()}"-->
<!--                                           readonly/>-->
<!--                                </div>-->
<!--                                <div class="form-group text-center">-->
<!--                                    <label for="roleDel"><p-->
<!--                                            class="font-weight-bold">-->
<!--                                        Role</p>-->
<!--                                    </label>-->
<!--                                    <select id="roleDel" name="role"-->
<!--                                            class="form-control"-->
<!--                                            multiple-->
<!--                                            size="2"-->
<!--                                            th:name="checkbox_roles"-->
<!--                                            readonly>-->
<!--                                        <option th:each="role : ${roles}"-->
<!--                                                th:value="${role.getId()}"-->
<!--                                                th:utext="${role.getRole()}"/>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button"-->
<!--                                    class="btn btn-secondary"-->
<!--                                    data-dismiss="modal">Close-->
<!--                            </button>-->
<!--                            <input type="submit" class="btn btn-danger"-->
<!--                                   value="delete"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</tr>-->