<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel, لوحة الادارة!</title>

</head>
<body>

<div class="navbar navbar-dark bg-dark">
    <div class="col-11">
        <h5><p class="text-light bg-dark"
               th:text="${authUser.getName()} + ' with roles: ' + ${authUser.getStringRole()}">dddddd</p></h5>

    </div>
    <div class="col-1">
        <h5><a class="text-secondary  float-right" href="/logout">Logout</a></h5>
    </div>
</div>

<div class="container-fluid bg-light text-dark">
    <!--    <br>-->
    <div class="row bg-light text-dark"><!-- ПАНЕЛЬ СЛЕВА -->
        <div class="col-2 bg-white text-dark">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <br>
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>

        <div class="col-10 bg-light text-dark">
            <div class="p-3 mb-2 bg-light text-dark">
                <div class="container-fluid">


                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                             aria-labelledby="v-pills-home-tab"><!-- ПАНЕЛЬ Админа -->


                            <!-- ПАНЕЛЬ Админа -->
                            <h1>Admins page</h1>
                            <div class="p-3 mb-2 bg-light text-dark">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                           href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Users
                                            Table</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                           href="#nav-profile" role="tab" aria-controls="nav-profile"
                                           aria-selected="false">New User</a>
                                    </div>
                                </nav>
                            </div>

                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                     aria-labelledby="nav-home-tab">
                                    <!-- ПАНЕЛЬ всех Юзеров -->
                                    <div class="container">
                                        <h3>All users</h3>
                                        <div class="p-3 mb-2 bg-white text-dark">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="usersTable">
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>
                                <!-- ПАНЕЛЬ создания нового юзера -->
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                     aria-labelledby="nav-profile-tab"> <!-- ПАНЕЛЬ создания нового юзера -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                            </div>
                                            <div class="col text-center">
                                                <form class="addForm">
                                                    <div class="form-group">
                                                        <div class="form-group col-md-4 text-center">
                                                            <label align="center" for="inputFirstname"><p
                                                                    class="font-weight-bold">First Name</p></label>
                                                            <input type="text" class="form-control" id="inputFirstname"
                                                                   placeholder="First Name" name="name">
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <label for="inputLastname"><p class="font-weight-bold">Last
                                                                Name</p></label>
                                                            <input type="text" class="form-control" id="inputLastname"
                                                                   placeholder="Last Name" name="lastname">
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <label for="inputAge"><p class="font-weight-bold">Age</p>
                                                            </label>
                                                            <input type="number" class="form-control" id="inputAge"
                                                                   placeholder="Age" name="age">
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <label for="inputEmail"><p class="font-weight-bold">
                                                                Email</p></label>
                                                            <input type="text" class="form-control" id="inputEmail"
                                                                   placeholder="Email" name="email">
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <label for="inputPassword"><p class="font-weight-bold">
                                                                Password</p></label>
                                                            <input type="text" class="form-control" id="inputPassword"
                                                                   placeholder="Password" name="password">
                                                        </div>
                                                        <div class="form-group col-md-4 text-center">
                                                            <label for="inputRole"><p class="font-weight-bold">Role</p>
                                                            </label>
                                                            <select id="inputRole" class="form-control" multiple
                                                                    size="2" name="roles">
                                                                <option th:each="role : ${roles}"
                                                                        th:value="${role.getRole()}"
                                                                        th:utext="${role.getRole()}"></option>
                                                            </select>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="text-center">
                                                                <input class="btn btn-success " type="submit"
                                                                       value="Create!">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- ПАНЕЛЬ Юзера -->
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab"> <!-- ПАНЕЛЬ Юзера -->
                            <h3>User information page</h3>
                            <br>
                            <div class="container">
                                <div class="col-12">
                                    <h5>About user</h5>
                                </div>
                                <div class="col-12">
                                    <div class="p-3 mb-2 bg-white text-dark">
                                        <table class="table table-hover" >
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                            <tr>
                                                <th scope="row" th:utext="${authUser.getId()}">ID</th>
                                                <td th:utext="${authUser.getName()}">Name</td>
                                                <td th:utext="${authUser.getLastname()}">Surname</td>
                                                <td th:utext="${authUser.getAge()}">Age</td>
                                                <td th:text="${authUser.getEmail()}">Value</td>
                                                <td th:text="${authUser.getStringRole()}">Value</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    DELETE-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="deleteForm">
                        <div class="row">
                            <div class="col-3">
                            </div>
                            <div class="col-6">
                                <div class="form-group text-center">
                                    <label for="deleteId" class="font-weight-bold">ID</label>
                                    <input type="text" class="form-control" id="deleteId" name="id" readonly/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="deleteName" class="font-weight-bold">Name</label>
                                    <input type="text" class="form-control" id="deleteName" name="name" readonly/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="deleteLastname" class="font-weight-bold">Lastname</label>
                                    <input type="text" class="form-control" id="deleteLastname" name="lastname" readonly/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="deleteAge" class="font-weight-bold">Age</label>
                                    <input type="number" class="form-control" id="deleteAge" name="age" readonly/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="deleteEmail" class="font-weight-bold">Email</label>
                                    <input type="text" class="form-control" id="deleteEmail" name="email" readonly/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="deletePassword" class="font-weight-bold">Password</label>
                                    <input type="text" class="form-control" id="deletePassword" name="password" readonly/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="deleteRole"><p class="font-weight-bold">Role</p>
                                    </label>
                                    <select id="deleteRole" name="role" class="form-control" multiple size="2"
                                            th:name="checkbox_roles" readonly>
                                        <option th:each="role : ${roles}"
                                                th:value="${role.getRole()}"
                                                th:utext="${role.getRole()}"></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                            <input type="button" class="btn btn-danger delBTN" data-dismiss="modal"value="delete"/>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
<!--EDIT-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="editForm">
                        <div class="row">
                            <div class="col-3">
                            </div>
                            <div class="col-6">

                                <div class="form-group text-center">
                                    <label for="editId" class="font-weight-bold">ID</label>
                                    <input type="text" class="form-control" id="editId" name="id" readonly/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="editName" class="font-weight-bold">Name</label>
                                    <input type="text" class="form-control" id="editName" name="name"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="editLastname" class="font-weight-bold">Lastname</label>
                                    <input type="text" class="form-control" id="editLastname" name="lastname"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="editAge" class="font-weight-bold">Age</label>
                                    <input type="number" class="form-control" id="editAge" name="age"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="editEmail" class="font-weight-bold">Email</label>
                                    <input type="text" class="form-control" id="editEmail" name="email"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="editPassword" class="font-weight-bold">Password</label>
                                    <input type="text" class="form-control" id="editPassword" name="password"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="editRole"><p class="font-weight-bold">Role</p></label>
                                    <select id="editRole" name="roles" class="form-control" multiple size="2">
                                        <option th:each="role : ${roles}"
                                                th:value="${role.getRole()}"
                                                th:utext="${role.getRole()}"></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                            <input type="button" class="btn btn-primary subBTN" data-dismiss="modal"value="edit"/>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/main.js"></script>


</body>
</html>
