<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><td><a class="btn btn-primary eBtn">Edit</a></td>
<div class="myForm">
    <form th:action="@{/admin/}" th:method="POST">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="id"  class="col-form-label">ID</label>
                            <input type="text" class="form-control" id="id" name="id" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="name"  class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="lastname"  class="col-form-label">Lastname</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="age"  class="col-form-label">Age</label>
                            <input type="num'" class="form-control" id="age" name="age" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="email"  class="col-form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="password"  class="col-form-label">Lastname</label>
                            <input type="text" class="form-control" id="password" name="password" value=""/>
                        </div>
                        <div class="form-group " >
                            <label for="role"><p class="font-weight-bold">Role</p></label>
                            <select id="role" name="role" class="form-control"multiple size="2" value="">
                                <option th:each="role : ${roles}"
                                        th:value="${role.getId()}"
                                        th:utext="${role.getRole()}"/>
                            </select>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary">Save</input>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
</body>
</html>
$(document).ready(function (){

$('.table .eBtn').on('click', function (event){

$('.myForm #exampleModal').modal.show();
});
});